*{
    box-sizing: border-box;
 }
 .column{
     float: left;
     width: 33.33%;
     padding: 5px;
 }
 .row ::before{
    display: table;
 }
 .head{
   padding: 5px;
 }
 h1{
     text-align: center;
     background-color:rgb(12, 37, 37);
     color: aliceblue;
     padding: 5px;
 }